* {
  font-family: 'Montserrat', sans-serif;
}

body {
  background: #353535;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  cursor: default;
}

header {
  background-color: #000000;
  color: #ededed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  
}

.header-title {
  cursor: pointer;
  margin: 0;
  color: rgb(255, 255, 255);
}

form {
  display: flex;
  align-items: center;
}

input[type="text"] {
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
}

button[type="submit"] {
  background-color: #592FFF;
  color: #fffcfc;
  border-radius: 5px;
  padding: 10px;
  border: none;
  cursor: pointer;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  color: #fff;
}

h2 {
  margin-top: 0;
  color: rgb(255, 255, 255);
}

.gif-container {
  display: flex;
  flex-wrap: wrap;
}

.gif {
  width: 200px;
  margin: 10px;
}

.gif img {
  width: 100%;
  height: auto;
  
}
a.active {
  color:#592FFF;
  font-weight: bold;
}

a.active.upload {
  color:#ffffff;
  font-weight: bold;
}

nav a {
  box-shadow: inset 0 0 0 0 #592FFF;
  color: #fff;
  margin: 0 -.25rem;
  padding: 0 .75rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

nav a:hover {
  box-shadow: inset 100px 0 0 0 #592FFF;
  color: white;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.singleGIF {
  width: 200px;
  height: 200px;
    border-radius: 20px;
}

.btn-view-trending {
  background-color: #592FFF;
  color: #fffcfc;
  border-radius: 5px;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin: 10px;
  align-items: center;
}

.content-single {
  width: 25%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.upload {
  background-color: #592FFF;
  padding: 10px 20px;
  border-radius: 10px;
  margin-left: 30px;
  color: white;
}

.upload:hover {
  background-color: #9980fe;
  color: white;
}

#UploadGIF {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
}



.btn-upload {
  margin-top: 25px;
  padding: 10px 20px;
  background-color: #592FFF;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.btn-upload:hover {
  background-color: #8a6dfc;
  color: white;

}

.singleGIFpreview{
  width: 100%;
}

#upload-message {
  padding: 25px;
  text-align: center;
  font-size: 14px;
}

.favorites {
  width: 25px;
  height: 25px;
  margin: 10px;
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {

  .content-single {
    width: 33.3%;
  }
}

@media only screen and (max-width: 890px) {

  header > h1{
    padding: 20px 0px;
  }
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  nav a {
    margin: 10px;
  }   

  .upload {
    margin-left: 0;
  } 

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}


@media only screen and (max-width: 768px) {

  .content-single {
    width: 50%;
  }
}

@media only screen and (max-width: 500px) {

  .content-single {
    width: 100%;
  }
}